body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: salmon;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

header {
  padding: 10vmin;
  background: rgba(135, 234, 49, 0.3);
  border-bottom: 1px solid rgb(197, 197, 197);
}

#title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 12vmin;
  font-family: 'Indie Flower', sans-serif;
  color: white;
  -webkit-text-stroke: 0.1px gray;
}

footer {
  padding: 8vmin;
  background: rgba(135, 234, 49, 0.3);
  border-top: 1px solid rgb(197, 197, 197);
  color: gray;
  font-size: 1.1rem;
}

.feature img {
  width: 200px;
  height: 200px;
}

.feature h2 {
  margin-top: 0;
  letter-spacing: 0.2rem;
  font-family: 'Lato', sans-serif;
}

.feature p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: 'Roboto', sans-serif;
}