body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #07c;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

header {
  border-bottom: 1px solid rgb(197, 197, 197);
  height: 40vmin;
  background: url('images/title.svg') rgba(135, 234, 49, 0.3) no-repeat center center;
  background-size: 90% 75%;
}

#title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 12vmin;
  font-family: 'Indie Flower', sans-serif;
  color: white;
  text-shadow: 0 1px gray, 0 -1px gray, -1px 0 gray, 1px 0 gray;
}

footer {
  padding: 8vmin;
  background: rgba(135, 234, 49, 0.3);
  border-top: 1px solid rgb(197, 197, 197);
  color: gray;
  font-size: 1.1rem;
}

.feature-pic {
  width: 180px;
  height: 180px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
}

.feature-pic::before {
  content: ' ';
  position: absolute;
  margin-top: -40px;
  margin-left: -40px;
  width: calc(180px + 40px * 2);
  height: calc(180px + 40px * 2);
  background-position: center center;
  background-size: cover;
  background-image: inherit;
  background-repeat: no-repeat;
}

.feature img {
  max-width: 70%;
}

.feature h2 {
  margin-top: 0;
  letter-spacing: 0.2rem;
  font-family: 'Lato', sans-serif;
}

.feature p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-family: 'Roboto', sans-serif;
}